Html{overflow-x:hidden;}　
body{
background-image:url(image/home.png);
background-repeat:repeat-x;
}

a{
font-family:幼圆,"Times New Roman", Times, serif;
font-size:20px;
color:#b9b7b7;
text-decoration:none;
position:relative;
top:-8px;
}

a:hover{
color:#c94d33;
}

.nav a{
font-family:幼圆,"Times New Roman", Times, serif;
font-size:16px;
color:#b9b7b7;
text-decoration:none;
position:relative;
top:-8px;
}

.nav a:hover{
color:#c94d33;
}

#logo1{
width:400px;
margin:auto;
margin-top:150px;

}

#logo2{
position:relative;
top:5px;
left:-50px;
}

#logo3{
position:relative;
top:20px;
left:60px;
}
#logo4{
position:relative;
top:30px;
left:150px;
}
#logo5{
position:relative;
top:-195px;
left:108px;
}
#logo6{
position:relative;
top:-185px;
left:108px;
}
#logo7{
position:relative;
top:-175px;
left:108px;
}

.footer{
width:640px;
margin:auto;
margin-top:180px;
}

.home{
width:80%;
margin:0 auto;
}

#home3{
position:relative;
top:0px;
left:-59px;
}

.nav{
position:relative;
top:-69px;
left:720px;
left:730px\0;
*left:708px;
}

#about1{
position:relative;
top:-150px;
left:160px;
}

#about2{
position:relative;
top:85px;
left:190px;
left:170px !important;
left:170px\0;
*left:173px !important;
}

#about3{
position:relative;
top:240px;
left:150px;
}



#content{
position:relative;
top:20px;
width:80%;
margin:auto;
}

#con1{
font-size:x-large;
color:#afadad;
line-height:1em;
width:1.5em; 
float:left;
}

#con2{
font-size:x-large;
color:#afadad;
line-height:1em;
width:1.5em; 
float:left;
position:relative;
top:280px;
left:-22px;
*top:165px;
*left:7px;
}

#dot1{
position:relative;
top:60px;
left:-72px;
*left:-38px;
}

#dot2{
position:relative;
top:70px;
left:-96px;
left:-94px\0;
*left:-65px;
}

#dot3{
position:relative;
top:180px;
left:-165px;
left:-158px\0;
*left:-133px;
}

#dot4{
position:relative;
top:62px;
left:-193px;
left:-184px\0;
*left:-162px;
}

#dot5{
position:relative;
top:135px;
left:-219px;
left:-205px\0;
*left:-190px;
}

#container{
position:relative;
top:-150px;
left:75px;
*top:-250px;
}

#project{
position:relative;
top:55px;
left:225px;
*top:-40px;
*left:250px;
}

#band{
}

#arrow1{
position:relative;
top:60px;
left:300px;
}

#footer1{
width:640px;
margin:auto;
position:relative;
top:-80px;
*top:-175px;
}

#footer2{
width:640px;
margin:auto;
position:relative;
top:50px;
}

#link{
position:relative;
left:800px;
top:-120px;
*top:-215px;
}